<h2><%=@player.name%></h2>
<b>Position:</b> <%=@player.position%>
  <br>
    <b>Bats:</b> <%=@player.bats%>
    <br>
    <b>Throws:</b> <%=@player.throws%>
<br></br>
<b>Team:</b>

<br></br>
<a href="/home">Homepage</a>
<br>
   <a href="/logout"><input type="submit" id="submit" value="Logout"></a>
<br>
